@font-face {
    font-family: midan;
    src: url(../assets/fonts/midan/Midan.eot);
    src: url('../assets/fonts/midan/Midan.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/midan/Midan.woff2') format('woff2'),
        url('../assets/fonts/midan/Midan.woff') format('woff'),
        url('../assets/fonts/midan/Midan.ttf') format('truetype'),
        url('../assets/fonts/midan/Midan.svg#Midan') format('svg');
    font-weight: normal;
}
@font-face {
    font-family: midan;
    src: url(../assets/fonts/midan/Midan-Black.eot);
    src: url('../assets/fonts/midan/Midan-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/midan/Midan-Black.woff2') format('woff2'),
        url('../assets/fonts/midan/Midan-Black.woff') format('woff'),
        url('../assets/fonts/midan/Midan-Black.ttf') format('truetype'),
        url('../assets/fonts/midan/Midan-Black.svg#Midan') format('svg');
    font-weight: 900;
}

*{
  
    margin: 0;
    padding: 0;
   

}
body{
    background-color: #ECECEC;
}


li, h2, h3{
    font-family: midan;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    display:inline-block;
}

.header{
    height: 65px;
    width: 100%;
    background-color: #0D8A86;
    display: flex;
    justify-content:flex-end;
    align-items: center;
  
    

}


.header .right-header{
align-items: center;
    margin-left: auto;
}
.header .right-header ,vl{
    border-left: 3px solid #ffff;
    border-radius: 0.5px;
    height: 19px;

}


.header .right-header .img  .logo{
height: 42;
width:159px;
}